##
# @description Services
# @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
# @note        This is a base Docker Compose file that will be extended 
#              by other files related to the environment 
#              (i.e., a Docker Compose file for the dev or prod environment)
# @note        It is added a `cli` profile to create the service
#              on demand (so it is not created when `docker compose up`
#              is executed). In this way, the user can manage
#              when it is required to execute it
# @link        https://docs.docker.com/compose/profiles/
# @todo        Create Node.js image to be used for the `web` and `cli`
#              services to avoid having to repeat configurations like
#              `user` and `working_dir`
##
services:
  traefik:
    image:
      traefik:v${BASE_TRAEFIK_VERSION}
    ports:
      - 80:80
      - 443:443
    depends_on:
      - web
    volumes:
      - ${BASE_DOCKER_PATH}:/var/run/docker.sock
    environment:
      - TRAEFIK_ENTRYPOINTS_WEB_ADDRESS=:80
      - TRAEFIK_ENTRYPOINTS_WEBSECURE_ADDRESS=:443
      - TRAEFIK_ENTRYPOINTS_WEB_HTTP_REDIRECTIONS_ENTRYPOINT_TO=websecure
      - TRAEFIK_ENTRYPOINTS_WEB_HTTP_REDIRECTIONS_ENTRYPOINT_SCHEME=https
      - TRAEFIK_ENTRYPOINTS_WEB_HTTP_REDIRECTIONS_ENTRYPOINT_PERMANENT=true
      - TRAEFIK_PING=true
      - TRAEFIK_PROVIDERS_DOCKER=true
    restart:
      always

  web:
    image:
      ${BASE_JS_RUNTIME_MINIMAL_IMAGE}
    expose:
      - 3000
    volumes:
      - docroot:/app
    env_file:
      - services/runtime/.env
    working_dir:
      /app
    user:
      ${BASE_JS_RUNTIME_USER}
    labels:
      - traefik.enable=true
      - traefik.http.routers.https-next.entrypoints=websecure
      - traefik.http.routers.https-next.tls=true
      - traefik.http.routers.https-next.rule=Host(`${BASE_DOMAIN}`) || Host(`www.${BASE_DOMAIN}`)
      - traefik.http.routers.https-next.service=https-next
      - traefik.http.services.https-next.loadbalancer.server.port=3000
      - traefik.http.routers.http-next.entrypoints=web
      - traefik.http.routers.http-next.tls=false
      - traefik.http.routers.http-next.rule=Host(`${BASE_DOMAIN}`) || Host(`www.${BASE_DOMAIN}`)
      - traefik.http.routers.http-next.service=http-next
      - traefik.http.services.http-next.loadbalancer.server.port=3000
    restart:
      always

  cli:
    image:
      ${BASE_JS_RUNTIME_IMAGE}
    volumes:
      - docroot:/app
    env_file:
      - services/runtime/.env
    working_dir:
      /app
    user:
      ${BASE_JS_RUNTIME_USER}
    labels:
      - traefik.enable=false
    profiles:
      - cli

volumes:
  docroot:
