##
# @description Services (customizations for production)
# @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
# @note        This file is intended to be used as an extension of the 
#              main/primary `docker-compose.yml`, i.e.:               
#              `docker compose \ 
#               -f docker-compose.yml \ 
#               -f docker-compose.prod.yml \
#               up -d`
# @note        Add Traefik configuration to be able to generate platform 
#              certificates using Let's Encrypt
# @note        The `web` service requires a `package.json` in its root
#              that has the `next start` command
#              as the `start` script, respectively.
# @note        The `web` service considered that the app is already
#              built (that is why it is not executed `next build`)
##
services:
  traefik:
    volumes:
      - ./services/traefik/etc/acme.json:/etc/traefik/acme.json
    environment:
      - TRAEFIK_CERTIFICATESRESOLVERS_LE-HTTP_ACME_EMAIL=${BASE_USER_EMAIL}
      - TRAEFIK_CERTIFICATESRESOLVERS_LE-HTTP_ACME_STORAGE=/etc/traefik/acme.json
      - TRAEFIK_CERTIFICATESRESOLVERS_LE-HTTP_ACME_HTTPCHALLENGE_ENTRYPOINT=web

  web:
    environment:
      - NODE_ENV=production
    labels:
      - traefik.http.routers.https-next.tls.certresolver=le-http
    command:
      ${JS_COMMAND_RUNNER} run start