##
# @description Services (customizations for development)
# @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
# @note        This file is intended to be used as an extension of the 
#              main/primary `docker-compose.yml`, i.e.:               
#              `docker compose \ 
#               -f docker-compose.yml \ 
#               -f docker-compose.dev.yml \
#               up -d`
# @note        Add file provider configuration to Traefik to be able to
#              use locally generated SSL certificates
# @note        The `web` service requires a `package.json` in its root
#              that has the `next dev` command as the `dev` script
# @note        Mount host folder with developed code into containers
##
services:
  traefik:
    volumes:
      - ./services/traefik/etc:/etc/traefik
    environment:
      - TRAEFIK_PROVIDERS_FILE_DIRECTORY=/etc/traefik/file-provider

  web:
    volumes:
      - ${BASE_HOST_DOC_ROOT_DIR}:${BASE_REMOTE_DOC_ROOT_DIR}
    environment:
      - NODE_ENV=development
    command:
      ${BASE_JS_COMMAND_RUNNER} run dev

  cli:
    volumes:
      - ${BASE_HOST_DOC_ROOT_DIR}:${BASE_REMOTE_DOC_ROOT_DIR}